@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Ubuntu', sans-serif;
}
$fontslova: Arial, Helvetica, sans-serif;
$crvena: rgb(255, 71, 80);
@mixin flexrow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@mixin flexcolumn {
    display: flex;
    flex-direction: column;
    
}
.sirina{
    width: 80%;
    margin: 0px auto;
}
body{
    
   background-image: url("../slike/slikahtml.jpg");
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    header{
        z-index: 100;
        box-shadow: 2px 2px 25px rgb(0, 0, 0);
        top: 0px;
        width: 100%;
        padding-bottom: 15px;
        background-color: #f7ffe6;
        .sirina{
            
            @include flexrow();
            section{
                padding-top: 20px;
                color: #000;
                font-size: 20px
            }
            ul{
                padding-top: 23px;
                @include flexrow();
                li{
                    list-style-type: none;
                    margin-left: 30px;
                    a{
                        text-decoration: none;
                        font-size: 20px;
                        color: #000;
                        &:hover{
                            color: rgb(255, 71, 80);
                        }
                    }
                }
            }
        }
    }

    #reg1{
        margin-top: 100px;
        margin-bottom: 100px;
        .sirina{
            @include flexrow();
            
            .strana{
                width: 50%;
                height: 100%;
            }
           .druga{
            @keyframes animacija2 {
                0%   {right:-700px;}
                100% {right:0px;}
              }
                position: relative;
                animation-name: animacija2;
                animation-duration: 1.5s;
                background-color: aqua;
                width: 100%;
                height: 100px;
            }
            .prva{
                @keyframes animacija {
                    0%   {top:-450px;}
                    100% {top:0px;}
                  }
                position: relative;
                animation-name: animacija;
                animation-duration: 2s;
                width: 100%;
                h1{
                    font-size: 70px;
                    margin-bottom: 50px;
                    font:$fontslova;
                }
                p{
                    font-size: 30px;
                    font-weight: 600;
                    margin-bottom: 50px;
                }
                button{
                    margin-top: 55px;
                    padding: 30px 80px;
                    background-color: rgb(255, 71, 80);
                    color: #fff;
                    border-radius: 15px;
                    font-size: 20px;
                    transition: 0.3s;
                    cursor: pointer;
                    &:hover{
                        background-color: rgb(255, 255, 255);
		                color: rgb(255, 71, 80);
                    }
                }
            }
        }
    }

    #reg2{
        height: fit-content;
        padding: 50px 0px;
        box-shadow:2px 2px 15px #666;
        background-color: rgba(189, 166, 102, 0.705);
        .sirina{
            @include flexcolumn();
            h1{
                text-align: center;
                font-size: 50px;
                margin: 0px auto;
                margin-bottom: 30px;
                margin-top: 30px;
            }
            p{
                text-align: center;
                &:nth-of-type(1){
                    font-size: 25px;
                    margin-bottom: 50px;
                }
                &:nth-of-type(2){
                    font-size: 25px;
                    font-weight: 700;
                }
            }
        }
    }

    #reg3{
        .hrr{   
            font-size: 23px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 240px;
            font-weight: 600;
            
            margin: 10px auto 50px auto;
            text-align: center;
           .crte{
               margin-top: 5px;
               width: 40px;
               height: 3px;
               background-color: #000;
           }}
        box-shadow:2px 2px 15px #666;
        background-color: rgba(189, 166, 102, 0.705);
        margin: 100px 0px;
        padding: 50px 0px;
        padding-bottom: 100px;
        h1{
            text-align: center;
            font-size: 50px;
            
            
        }
        .sirina{
            @include flexrow();

            .box{
                box-shadow: 2px 2px 15px rgb(34, 31, 31);
                @include flexcolumn();
                align-items: center;
                i{
                    
                    font-size: 70px;
                    margin-bottom: 10px;
                }
                padding: 10px;
                //@include flexcolumn();
                width: 30%;
                background-color: rgb(252, 255, 203);
                border-radius: 20px;
                transition: 0.3s;
                 cursor: pointer;
                    &:hover{
                        background-color: rgb(255, 255, 255);
		                color: rgb(255, 71, 80);}
                
                h2{
                    text-align: center;
                    font-size: 30px;
                    margin: 30px auto;
                    margin-bottom: 20px;
                }
              
                p{
                    text-align: center;
                    font-size: 25px;
                }
            }
        }
    }

    #reg4{
        margin-bottom: 100px;
        h1{
            text-align: center;
            font-size: 60px;
            margin-bottom: 50px;
        }
        .sirina{
           
            
            .unutra{
                display: flex;
                flex-direction: row;
                width: 100%;
           .strana1.leva{
              
               width: 50%;

               #skills{
                   width: 90%;
                   margin: 0px auto;
                   height: 100%;
                   .row{
                       height: 60px;
                       width: 100%;
                       .gore{
                           @include flexrow();
                           p{
                               font-size: 20px;
                               margin-bottom: 5px;
                           }
                       }
                       .dole{
                           .progress{
                               width: 100%;
                               height: 15px;
                               background-color: gray;
                               .h{
                                   height: 100%;
                                   width: 100%;
                                   background-color: red;
                               }
                               .c{
                                height: 100%;
                                width: 95%;
                                background-color: red;
                               }
                               .j{
                                height: 100%;
                                width: 90%;
                                background-color: red;
                               }
                               .s{
                                height: 100%;
                                width: 85%;
                                background-color: red;
                               }
                               .p{
                                height: 100%;
                                width: 80%;
                                background-color: red;
                               }
                           }
                       }
                   }
               }
           }
           .strana1.desna{
               width: 50%;
               p{
                   width: 80%;
                   margin: 0px auto;
                   font-size: 20px;
                   &:nth-of-type(2){
                       font-size: 30px;
                       font-weight: 600;
                       margin-top:40px;
                       font: $fontslova;
                   }
               }
           }}
        }
    }

}
#reg5{
    
    .hrr{   
        font-size: 23px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 180px;
        font-weight: 600;
        
        margin: 20px auto;
        text-align: center;
       .crte{
           margin-top: 5px;
           width: 40px;
           height: 3px;
           background-color: #000;
       }}
    box-shadow:2px 2px 15px rgb(34, 31, 31);
    background-color: rgba(189, 166, 102, 0.705);
    padding-bottom: 100px;
    h1{
        font-size: 30px;
        text-align: center;
        padding-top: 50px;
    }
    .sirina{
        
        @include flexrow();
        .rad{
            box-shadow:2px 2px 15px rgb(34, 31, 31);
            border-radius:10px; 
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 30px;
            width: 30%;
            background-color: rgb(252, 255, 203);;
            margin: 60px auto;
            
            &:hover{
                figure{
                    transform: scale(1.1);
                    border: 5px solid $crvena;
                    box-shadow:2px 2px 15px rgb(34, 31, 31);
                }
            }
            &:hover{
                h2{
                    transform: scale(1.1);
                }
            }
            &:hover{
                p{
                    transform: scale(1.1);
                }
            }
            figure{
                transition: 0.2s;
                width: 200px;
                height: 200px;
                
                border-radius: 50%;
                border: 5px solid #fff;
                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                }
            }
            h2{
                transition: 0.3s;
                margin-top: 40px;
                font-size: 40px;
                color: #000;
                font-weight: 500;
                margin-bottom: 10px;
            }
            p{
                transition: 0.3s;
                color: #000;
                font-size: 25px;
                &:nth-of-type(2){
                color: #000;
                font-size: 20px;
                margin-top: 5px;
                }
            }
        }
        
    }
       

}
    #reg6{
        margin-top: 100px;
        h1{
            font-weight: 500;
            font-size: 60px;
            text-align: center;
        }
        .hrr{
            
            font-size: 23px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 220px;
            font-weight: 600;
            
            margin: 20px auto;
            text-align: center;
           .crte{
               margin-top: 5px;
               width: 40px;
               height: 3px;
               background-color: #000;
           }
        }
        .sirina{
            .strane3{
                @include flexrow();
                margin-top: 100px;
                margin-bottom: 100px;
                width: 100%;
                
                .left{
                    
                    h2{
                        margin-bottom: 30px;
                        font-size: 30px;
                    }
                    p{
                        font-size: 19px;
                    }
                    width: 50%;
                    height: 100%;

                    #social{
                        
                        width: 100%;
                        height: fit-content;
                        margin-top: 50px;
                        
                        .mreze{
                            
                            display: flex;
                            flex-direction: row;
                            width: 100%;
                            margin-top: 10px;
                            .ikona{
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 50px;
                                height: 50px;
                                i{
                                    font-size: 40px
                                }
                            }
                            .inf{
                                margin-top: 5px;
                                margin-left: 20px;
                                @include flexcolumn();
                            }
                        }
                    }

                }

                .right{
                    
                    h2{
                        margin-bottom: 40px;
                    }
                    .row{
                        @include flexrow();
                        margin-bottom: 10px;
                        width: 100%;
                        height: 50px;
                        
                        &:nth-of-type(3){
                            height: 230px;
                        }
                        #txt{
                            width: 48%;
                            height: 100%;
                            border-radius: 5px;
                            border: 1px solid gray;
                            padding-left: 30px;
                            font-size: 25px;
                        }
                        #email{
                            width: 48%;
                            height: 100%;
                            border-radius: 5px;
                            border: 1px solid gray;
                            padding-left: 30px;
                            font-size: 25px;
                        }
                        #txt2{
                            width: 100%;
                            height: 100%;
                            border-radius: 5px;
                            border: 1px solid gray;
                            padding-left: 30px;
                            font-size: 25px;
                        }
                        #area{
                            width: 100%;
                            height: 100%;
                            resize: none;
                            border-radius: 5px;
                            border: 1px solid gray;
                            padding-left: 30px;
                            font-size: 20px;
                            padding-top: 10px;
                        }
                        
                    }
                    #dugme{
                        width: 180px;
                        height: 50px;
                        border-radius: 5px;
                        background-color: $crvena;
                        font-size: 20px;
                        color: #fff;
                        font-weight: 700;
                        cursor: pointer;
                        &:hover{
                            background-color: lightgoldenrodyellow;
                            color: $crvena;
                        }
                    }
                    width: 45%;
                    height: 100%;
                   
                }

                
            }


        }

        
        

    }
    footer{
        width: 100%;
        padding-bottom: 12px;
        background-color: #666;
        .sirina{
            @include flexrow();
            padding-top: 5px;
            section{
                font-size: 30px;
                margin-top: 8px
            }
            div{
                ul{
                    @include flexrow();
                    list-style-type: none;
                    li{
                        margin-left: 10px;
                        padding-top: 15px;
                    a{
                        text-decoration: none;
                        color: $crvena;
                        font-size: 20px;

                    }}
                }
            }
        }
    }